* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

#hero {
  width: 59.2rem;
  margin: 0 auto 7.2rem;
  text-align: center;
}

#hero p {
  line-height: 2.8rem;
  margin-top: 2.8rem;
}

.bg-img {
  margin-bottom: 7.2rem;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 4.9rem;
  line-height: 5.6rem;
  font-weight: normal;
  margin: 3.2rem 0;
}

h1 span {
  font-weight: bold;
  margin-bottom: 3.2rem;
}

span, a {
  color: #ff9900;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p, footer {
  color: #7d7987;
  font-size: 1.4rem;
  line-height: 2.8rem;
}

footer a + a {
  font-size: 1.4rem;
  margin-left: 2.8rem;
}

.line {
  width: 56.8rem;
  height: 0;

  margin: 0 auto 8px;

  border: 1px solid #ECEFF2;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}